
.chat-widget-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}

.chat-button {
    background: rgb(73, 185, 59);
    box-shadow: rgba(2, 6, 16, 0.2) 0px 4px 24px;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
}

.chat-widget {
    display: none;
    position: fixed;
    bottom: 80px;
    left: 20px;
    z-index: 1000;
    width: 300px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.chat-header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.chat-header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-messages {
    height: 200px;
    overflow-y: auto;
    padding: 10px;
}

.chat-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.chat-input input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#send-button {
    background: rgb(73, 185, 59);
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}